.maintela{
    display: flex;
    justify-content: center;
    margin-top: 60px;

}

.maintela aside{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 0px 20px;
}

.alertateste{
    background-color: rgb(252, 255, 177);
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
    width: 50vw;
    text-align: left;
    margin: 0 auto 30px auto;
    
}

.alertateste p {
    margin: 5px;
}


.alertacentro {
    text-align: center;
    margin: 0;
    padding: 0;
}
.paviso {
    padding-top: 40px;
    font-size: 20px;
    font-weight: bold;
color: rgb(147, 28, 28);}

.imgload {
    padding-top: 60px;
    width: 80px;
}

.pavisook {
    padding-top: 40px;
    font-size: 20px;
    font-weight: bold;
color: #034078}


.cardaside{
    /* visibility: hidden; */
    background-color: #ffffff;
    width: 200px;
    margin: 0px auto;
    padding: 5px 20px;
    border-radius: 20px;
}

.cardaside h3 {
    padding: 0; margin: 0;
    font-size: 0.7rem;
}

.cardaside p {
    padding: 0; margin: 0;
    font-size: 0.5rem;
}

.cardaside ul li, .cardaside ul{
    font-size: 0.5rem;
    padding: 0px 0px 0px 1px; margin: 0;
    text-align: left;
    text-decoration: none;
    list-style: none;

}

.cardaside img {
    padding:10px;
    width: 100%;
}

.container{
  display: inline-block;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 200px 5fr;
  gap: 30px;

}


@media (max-width: 700px) {
    .alertateste{
    border-radius: 0px;
    font-size: 20px;
    padding: 10px;
    width: 100%;
}
}
