.item {
    display: inline-flex;
    flex-direction: column;
    border: 0px solid var(--text-color);
    background-color: var(--bg-color);
    border-radius: 20px 20px 0px 0px;
    transition: 0.5s;
    width: 200px;
    max-width:400px;
    font-size: 20px;
    margin: 10px 10px;
}

.item textarea{
    resize: vertical;
}
.item input, .item textarea {
    width: 90%;
    display: block;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid var(--text-color);
    color:var(--text-color);
}


.imagem {
    background-color: var(--primary-color);
    border-radius: 20px 20px 0px 0px;
    transition: 0.5s;
    padding-top: 1px;

}

.imagem:hover {
    background-color: var(--secondary-color);

}

.containerfoto {display: flex;
    height: 150px;
width: 150px;
justify-content: center;
align-items: center;
margin: 30px auto;
position: relative;}

.on .ocultar, .off .ocultar {display: none;}

.icoeditfoto {
    position: absolute;
    background-color: none;
    background: none;
    border: 0;
    color: white;
    font-size: 50px;
    cursor: pointer;
    transition: 0.2s;
    z-index: 3;
}

.icoeditfoto:hover {
    transition: 0.4s;
    transform:  scale(1.3);
}

.imageedit {
    filter: brightness(70%);
    
}
.item .imageedit:hover {
    border-radius: 100%;
    transform: none;
    object-fit: cover;
    
}

.item img {
   
    width: 100%;
    height: 100%;
    object-fit: cover;
   border: 5px solid #fff;
    border-radius: 100%;
    margin: 30px auto;
    transition: 0.5s;
    background-color: #fff;
    transition: all 0.5 ease;
  

}

.item img:hover {
    border-radius: 5px;
    transform: scale(1.2);
    background-color: #fff;
    object-fit: contain;
}

.card{
    cursor: pointer;
    user-select: none;
}

.titulo {
    padding: 10px;
    background-color: var(--secondary-color);
    color: #fff;
    max-height: 4em;
    cursor: pointer;
    padding: 10px;
    margin: 0px;
    user-select: none;
}

.titulo label {
    font-weight: bold;
    margin: 0px;
    font-size: 1.2em;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 350px;
}

.titulo p {
    margin: 5px 0px;
    font-size: 0.8em;
}

.btnadmin {
    margin: 10px;
    padding: 10px 10px;
    border-radius: 10px;
    color: var(--text-color);
    border: 0px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    font-family: "WDXL Lubrifont JP N", sans-serif;
}

.btnadmin:hover {
    color: white;
    background-color: var(--text-color);
    font-weight: bold;
}

.btsave {
    display: block;
    margin: 10px auto;
    width: 40%;
    font-weight: bold;
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px 10px;
    border-radius: 10px;
    border: 0px;
    transition: 0.5s;
    cursor: pointer;
    font-family: "WDXL Lubrifont JP N", sans-serif;
}

.btsave:hover {
    display: block;
    margin: 10px auto;
    width: 40%;
    font-weight: bold;
    background-color: var(--text-color);
    color: #fff;
    padding: 10px 10px;
    border-radius: 10px;
    border: 0px;
    transform: scale(1.2);
}

.off {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease;
    display: flex;
    text-align: left;
    border-radius: 0px;
    padding: 0px;
    padding-top: 0px;
    background-color: #fff;
}

.on {
    transition: max-height 0.5s ease;
    max-height: 2000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    color: #000000;
    background-color: #fff;
    padding: 0px 0px;
}



.on label {
    transition: opacity 0.5s ease;
    padding: 5px 20px;
    margin-top: 5px;
    opacity: 1;
}

.on form label {
    display: block;
    transition: opacity 0.5s ease;
    padding: 10px 20px 5px 20px;
    margin: 0;
    opacity: 1;
}

.off label {
    margin-top: 0px 0px;
    padding: 5px 20px;
    opacity: 0;
}

.on p{color: red;
text-align: center;
padding: 0px 10px;
padding-bottom: 5px;
margin: 0px 0px}


.pon {
    max-height: 0px;
    transition: opacity 0s ease;
    opacity: 0;
}

.poff {
    max-height: 20px;

    transition: opacity 0.5s ease;
    opacity: 1;
}