* {
    box-sizing: border-box;
}


.principal {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-height: 60px;
    padding: 0px 35px 0px 0px;
    margin: 0 auto;
    background-color: var(--primary-color);
    z-index: 100;
}

.titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    max-width: 100%;
}

.bh1 {
    font-size: 1rem;
}

.h1ok {
    padding: 0px 20px 0px 20px;
    color: #000000;
    transition: 0.5s;
    font-size: 1rem;
    flex-shrink: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px 5px;
    min-width: 0px;

}

.titulo .h1ok:hover {
    transform: scale(1.-09);
    text-shadow: 0px 0px 20px #0000;
}

.itens {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-shrink: 0;

}

.itens form {
    width: 10px;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    height: 10px;
}

.principal form {
    display: flex;
    align-items: center;
    width: 100%;
}

.caixabusca {
    position: relative;
    display: inline-block;
    width: 100%;
}

.iconebusca {
    position: absolute;
    left: 15px;
    top: 11px;
    font-size: 20px;
    color: #bdc6c9;
    pointer-events: none;
}

.digicon {
    display: initial;
}

.principal form input {
    display: flex;
    background-color: var(--bg-color);
    width: 100%;
    min-width: 90px;

    transition: width 0.5s ease;


}

.principal form input::placeholder {
    font-family: "WDXL Lubrifont JP N", sans-serif;
    font-size: 15px;
    color: #000000;
}

.inputbusca::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}


.principal button {
    display: none
}

.moption,
.moptioff {
    display: flex;
    justify-content: right;
    white-space: nowrap;
    width: 100%;
    padding: 0px 10px;
}

.moption,
.moptioff,
.link {
    transition: 0.4s;
    display: flex;
    gap: 10px;
    font-size: 25px;
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
    padding: 0px 5px;
}

.moption span:hover,
.moptioff span:hover,
.link:hover {
    color:#000000;
}

.logo {
    padding-top: 0px;
    height: 40px;
    width: auto;
}

.moption .logout,
.moptioff .logout {
    transition: 0.4s;
    display: flex;
    gap: 10px;
    font-size: 25px;
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
    padding: 0px 5px;
}

.moption .logout:hover,
.moptioff .logout:hover {
    color: #780303;
}


.moption span,
.moptioff span {
    transition: font-weight 0.3s ease;
    font-weight: 300;
    position: relative;
    transition: 0.4s;
}

.moption span::after,
.moptioff span::after,
.logout::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center;
    height: 2px;
    width: 0;
    background-color: currentColor;
    transition: width 0.5s ease;
}

.moption span:hover::after,
.moptioff span:hover::after,
.logout:hover::after {
    width: 100%;
}


.principal .inputbusca {
    border-radius: 20px;
    padding: 10px 10px 10px 40px;
    border: 2px solid #B6DA7A;

}






















@media (max-width: 740px) {

    .moption,
    .moptioff {
        gap: 0px
    }

    .principal button {
        display: initial
    }

    .bh1 {
        color: #fff;
    }


    .bh1::after {
        content: "Achados & Perdidos";
    }











    .contm {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        padding: 0px 0px 0px 0px;
        width: 70px;
    }


    .menubtn {
        background-color: #1282A2;
        width: 35px;
        height: 35px;
        border-radius: 10px;
        padding: 0px;
        margin: 0px 0px 0px 0px;
        cursor: pointer;
        border-width: 2px;
        border-color: #1282A2;
        transition: border-width 1s ease;
        transition: border-color 1s ease;
        border-style: solid;
    }

    .menubtn:hover {
        border-style: solid;
        border-width: 4px;
        border-color: #fff;
        transition: border-width 1s ease;
        transition: border-color 1s ease;
        background-color: #1282A2;
        transition: 0.3s;
    }

    .menubtn:hover span {
        background-color: #fff;
        transition: 0.5s;
        padding: 1.5px 5px;
    }

    .menubtn span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        width: 20px;
        padding: 2px 5px;
        margin: 2px auto;
        transition: 0.5s;
    }



    .moption {
        position: absolute;
        top: 47px;
        padding-top: 0px;
        border-radius: 0px 0px 5px 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        width: 90px;
        max-height: 200px;
        overflow: hidden;
        transition: max-height 0.5s ease;
    }

    .moptioff {
        position: absolute;
        top: 47px;
        padding-top: 0px;
        border-radius: 0px 0px 5px 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        background-color: #fff;
        width: 90px;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.2s ease;
    }


    .moption span,
    .moptioff span,
    .link,
    .link:visited,
    .moption .logout,
    .moptioff .logout {
        font-size: 20px;
        color: #1282A2;
        transition: 0.2s;
        padding: 3px 0px;
        text-decoration: none;
        transition: 0.5s;
        display: block;
        width: 100%;
        height: 30px;
        background-color: none;

    }

    .moption span:hover,
    span:hover .link {
        font-size: 20px;
        display: block;
        height: 30px;
        width: 100%;
        color: #034078;
        text-shadow: 0px 0px 20px #48d7ff;
        transition: 0.5s;
        transform: none;
        text-decoration: none;
        background-color: none;

    }

    .moption .logout,
    .moptioff .logout {
        color: #d75f5f;
        background-color: none;
    }

    .moption .logout:hover,
    .moptioff .logout:hover {
        font-size: 20px;
        display: block;
        height: 30px;
        width: 100%;
        color: #780303;
        text-shadow: 0px 0px 20px rgb(255, 0, 0);
        ;
        transition: 0.5s;
        transform: none;
        text-decoration: none;
        background-color: none;

    }
}















@media (max-width: 550px) {
    .caixabusca {
        position: relative;
        max-width: 20px;
        margin-right: 5px;

    }

    .caixabusca {
        margin-right: 10px;
    }

    .caixabusca .inputbusca {
        padding: 10px 20px;
        min-width: 40px;
        transition: width 0s ease;


    }

    .h1ok {
        font-size: 1rem;
    }

    .caixabusca .digitando {
        min-width: 230px;
        position: absolute;
        right: 0px;
        top: -20px;
        border-radius: 20px;
        padding: 10px 10px;
        border: 2px solid #1282A2;


    }


    .digicon {
        display: none;
    }



    .digitando::-webkit-input-placeholder {
        opacity: 0;
    }

    .inputbusca::-webkit-input-placeholder {
        opacity: 0;
    }


    .iconebusca {
        position: absolute;
        left: 10px;
        top: 11px;
    }

    .bh1 {
        padding-left: 20px;
        font-size: 1rem;

    }

    .bh1::after {
        content: "Achados & Perdidos";
    }

    .bh1::after {
        content: "A&P";
    }

    .titulo .h1ok {
        font-size: 0.7rem;
    }
}


@media (max-width: 410px) {
    .caixabusca .digitando {
        min-width: 180px;
    }

}


@media(max-width: 360px) {

    .caixabusca .digitando {
        min-width: 150px;
    }

    .h1ok {
        padding-left: 10px;

    }



    .bh1::after {
        content: "A&P";
    }


    .itens form {
        margin: 0px 0px 0px 0px;
        height: 10px;
    }
}



@media (max-width: 330px) {
    .caixabusca .digitando {
        min-width: 130px;
    }

}