:root{
  --bg-color: #ffff;
  --bg-color2: #F0F7E8;
  --text-color: #437900;
  --text-color2: #2E3A1F;
  --primary-color: #B6DA7A;
  --secondary-color: #95b265;
  --tertiary-color: #8FC13E;
}



.formlabel {
    color: var(--text-color);
    font-size: 25px;
    text-align: left;
    padding: 30px 0px 10px 0px;
    font-weight: bold;}

.formerro{
    font-size: 20px;
    color: #8f0404;
    padding: 5px;
    margin: 0px;
}

.navitem{
  color: var(--text-color2);
  cursor: pointer;
  transition: all;
  transition-duration: 200ms;
}
.navitem:hover{
  color: var(--tertiary-color)
}

.textarea{
    resize: vertical;
    min-height: 50px;
}

.input, .textarea {
    width: 90%;
    display: block;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    font-family: "WDXL Lubrifont JP N", sans-serif;
    color:black;
    font-size: 16px;
}

.plogin {margin: auto;
font-size: 25px;
padding: 10px 0px 0px 0px;
color: #DA7A4A;
font-weight: bold;}

#root {
  max-width: 100vw;
  margin: -10 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

input, button, textarea{
  touch-action: manipulation;
  
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
