:root{
  --bg-color: #ffff;
  --bg-color2: #F0F7E8;
  --text-color: #437900;
  --text-color2: #2E3A1F;
  --primary-color: #B6DA7A;
  --secondary-color: #95b265;
  --tertiary-color: #8FC13E;
}



.formlabel {
    color: var(--text-color);
    font-size: 25px;
    text-align: left;
    padding: 30px 0px 10px 0px;
    font-weight: bold;}

.formerro{
    font-size: 20px;
    color: #8f0404;
    padding: 5px;
    margin: 0px;
}

.navitem{
  color: var(--text-color2);
  cursor: pointer;
  transition: all;
  transition-duration: 200ms;
}
.navitem:hover{
  color: var(--tertiary-color)
}

.textarea{
    resize: vertical;
    min-height: 50px;
}

.input, .textarea {
    width: 90%;
    display: block;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    font-family: "WDXL Lubrifont JP N", sans-serif;
    color:black;
    font-size: 24px;
}

@media (max-width:640px) {
  .input, .textarea{font-size: 18px;}
  
}

.plogin {margin: auto;
font-size: 25px;
padding: 10px 0px 0px 0px;
color: #DA7A4A;
font-weight: bold;}


input, button, textarea{
  touch-action: manipulation;
}


