@import "tailwindcss";

*{box-sizing: border-box;
outline:0;
font-family: "WDXL Lubrifont JP N", sans-serif;}

html, body, #root{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "WDXL Lubrifont JP N", sans-serif;
  font-weight: 400;
  text-align: center;
}

#root{
  margin-top: 25px;
  min-height: 100vh;;
}


html {font-size: 25px;
  scroll-behavior: smooth;}

body{background-color: var(--bg-color);}


#root {
  padding-top: 40px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}






